<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Fly, fly, fly</title>
    </head>
    <body>
        <h1>Come fly with me</h1>
        <form id="travelForm">
            <label for="location">Where?</label>
            <input id="location" type="text" placeholder="Wherever" required autocomplete="off"/>
            <label for="location">When?</label>
            <input id="date" type="date" required autocomplete="off"/>
            <button id="travelButton">Let's go</button>
        </form>
        <div id="result"></div>
    </body>
</html>