$primary-color: #84989c;
$secondary-color:  #a4b7ba;
$background-color: #fff;

body {
    background: $background-color;
    color: $secondary-color;
    align-items: center;
    margin: auto;
    text-align: center;
}

#travelForm {
    margin: auto;
    align-items: center;
    gap: 20px;
    width: 80%;
    padding: 10px;
}

button {
    background: $background-color;
    color: $secondary-color;
}

button:hover {
    background: $primary-color;
    color: $background-color;
}

input {
    background: $background-color;
    color: $primary-color;
}

input:hover {
    border-color: $secondary-color;
}
